* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/anhmoi.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    position: relative;
    
}



.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-form {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #ffc351;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: #c9e3ff;
    transition: 0.5s;
}